/* style propre à la page */
body{
    font-family: 'Cabin Sketch', cursive;
    color: rgb(44, 54, 39);
    background-color:lightcyan; 
    background-image: url("assets/paysage.png");
    background-position:  top;
    background-size: cover;
    background-repeat:  round;
    background-origin:  border-box;
    background-clip:  border-box;
    background-attachment: fixed;
    }
a{
    color: #4e4e4e;
    font-family: 'Cabin Sketch', cursive;
}
a:hover{
    color:#b44981;
}
#barreJeu{
    min-height: 325px;
}
.boutonCv.btn-primary {
    color: transparent;
    background-color:transparent;
    border-color: transparent;
  }
  
.boutonCv.btn-primary:hover {
    color: #fff;
    background-color:transparent;
    border-color: #6c757d;
    font-size: x-small;
  }
.card{
    background-color: transparent;
    width: 300px;
}
/* .card-header{
    transition: .3s transform ease-in-out;
}
.card-header .collapsed {
    transform: rotate(90deg);
  } */
.home{
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url("assets/taupeHome2.png");
}
h4{
    text-align: center;
}
#espaceJeu{
    margin-top: 50px;
    position: sticky;
}
#contactMe{
    color: #fff;
    font-size: initial;
    font-weight: lighter;
}
#photoMi{
    border-radius: 25%;
}
.jumbotron{
    color:#555555;
    background-color: transparent;
}
.logoTaupe.img-thumbnail{
    padding: 0,9;
    max-width: 30%;
}
.navbar{
    padding: 20px 20px;
}
.navbar-brand{
    white-space: inherit;
}
.navbar-text{
    text-justify: none;
}
.trou{
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    width: 180px;
    height: 134px;
}
.trou img{
    display: block;
    position:  absolute;
    top: 0; 
    left: 0;
    z-index: 20;
}
.trou img.step0 { z-index: 10; }
.trou img.step1 { z-index: 11; }
.trou img.step2 { z-index: 12; }
.trou img.step3 { z-index: 13; }
.trou img.step4 { z-index: 14; }
.trou img.step5 { z-index: 15; }

.anim{
    visibility: hidden;
    transition: visibility 0.10s;
}
.test:hover .anim {
    visibility: visible ;
    }