/* style propre à la page */
body{
    font-family: 'Cabin Sketch', cursive;
    color: rgb(44, 54, 39);
    background-size: initial;
    background-repeat: round;
    }
a{
    color: #4e4e4e;
    font-family: 'Cabin Sketch', cursive;
}
a:hover{
    color:#b44981;
}
.boutonCv.btn-primary {
    color: transparent;
    background-color:transparent;
    border-color: transparent;
  }
  
.boutonCv.btn-primary:hover {
    color: #fff;
    background-color:transparent;
    border-color: #6c757d;
    font-size: x-small;
  }
.card{
    background-color: transparent;
}
.contactIcon{
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url("assets/contact.png");
}
.home{
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url("assets/taupeHome2.png");
}
#fondPrincipal{
    background: url("assets/landscape.png") center / cover no-repeat fixed;
}
#fondDuJeu{
    background: url("assets/paysage.png") center / cover no-repeat fixed;
}
#barreJeu{
    min-height: 325px;
}
#espaceJeu{
    margin-top: 50px;
    position: sticky;
}
#contactMe{
    background-color: #6c757d;
    color: #fff;
    font-size: initial;
    font-weight: lighter;
}
img{
    vertical-align: text-bottom;
}
.jumbotron{
    color:#555555;
    background-color: transparent;
}
.logoTaupe.img-thumbnail{
    padding: 0,9;
    max-width: 30%;
}
.navbar{
    align-items: baseline;
    padding: 20px 20px;
}
.navbar-brand{
    white-space: inherit;
}
.navbar-text{
    text-justify: none;
}
